$body-font-family = 'Open Sans','Helvetica Neue',sans-serif
$button-border-radius := 5px
$card-border-radius := 5px
$sheet-border-radius := 5px
$tab-text-transform := capitalize
$button-text-transform := capitalize

/*@import '~vuetify/src/stylus/theme.styl'*/
